* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #edf3f8;
}

ul {
	list-style: none;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

button {
	padding: 15px 25px;

	border: none;

	color: #fff;
	background: #ba4270;
	box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
	border-radius: 24px;
}

@media only screen and (max-width: 1100px) {
	.container {
		max-width: 90vw;
	}
}
