.hero {
	margin-top: 55px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__content {
		width: 550px;
	}

	&__title {
		margin-bottom: 25px;
		font-family: 'DM Serif Display';
		font-style: normal;
		font-weight: 400;
		font-size: 72px;
		line-height: 72px;

		letter-spacing: -0.553846px;

		color: #36536b;
	}
	&__input {
		padding: 16px 27px;
		padding-right: 100px;
		background: #fbfcfe;
		box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
		border-radius: 24px;
		border: none;
	}
	&__button {
		margin-left: -10%;
	}

	&__form {
		margin-bottom: 16px;
	}
}

@media only screen and(max-width:980px) {
	.hero {
		flex-direction: column-reverse;
		text-align: center;
	}
}

@media only screen and (max-width: 600px) {
	.hero {
		&__content {
			width: 80%;
		}
	}
}
